
Current Audits in place across all production databases using traditional 
old auditing:

select audit_option from dba_stmt_audit_opts  order by 1;

Total 33 audits:

ALTER ANY PROCEDURE
ALTER ANY TABLE
ALTER DATABASE
ALTER PROFILE
ALTER SYSTEM
ALTER USER
BECOME USER
CREATE ANY JOB
CREATE ANY LIBRARY
CREATE ANY PROCEDURE
CREATE ANY TABLE
CREATE EXTERNAL JOB
CREATE JOB
CREATE PUBLIC DATABASE LINK
CREATE PUBLIC SYNONYM
CREATE SESSION
CREATE USER
DATABASE LINK
DIRECTORY
DROP ANY PROCEDURE
DROP ANY TABLE
DROP PROFILE
DROP USER
EXEMPT ACCESS POLICY
GRANT ANY OBJECT PRIVILEGE
GRANT ANY PRIVILEGE
GRANT ANY ROLE
PLUGGABLE DATABASE
PROFILE
PUBLIC SYNONYM
ROLE
SYSTEM AUDIT
SYSTEM GRANT




2) Create custom audit policy "ISSO_STIG_REQUIREMENTS" to cover exsiting
auditing in addition to OPS ISSO audit requirments:

Addtional audits (delta):
E9 to E14



NOAUDIT POLICY ISSO_STIG_REQUIREMENTS_1;

NOAUDIT POLICY ISSO_STIG_REQUIREMENTS_2;

DROP AUDIT POLICY "ISSO_STIG_REQUIREMENTS_1";

CREATE AUDIT POLICY "ISSO_STIG_REQUIREMENTS_1"
    PRIVILEGES 
     ALTER ANY PROCEDURE,
     ALTER ANY TABLE,
     ALTER DATABASE,
     ALTER PROFILE,
     ALTER SYSTEM,
     ALTER USER,
     BECOME USER,
     CREATE ANY JOB,
     CREATE ANY LIBRARY,
     CREATE ANY PROCEDURE,
     CREATE ANY TABLE,
     CREATE DATABASE LINK,
     CREATE EXTERNAL JOB,
     CREATE JOB,
     CREATE PUBLIC DATABASE LINK,
     CREATE PUBLIC SYNONYM,
     CREATE SESSION,
     CREATE USER,
     DROP ANY PROCEDURE,
     DROP ANY TABLE,
     DROP PROFILE,
     DROP USER,
     EXEMPT ACCESS POLICY,
     GRANT ANY OBJECT PRIVILEGE,
     GRANT ANY PRIVILEGE,
     GRANT ANY ROLE,
     CREATE DATABASE LINK,
     ALTER DATABASE LINK,
     DROP ANY DIRECTORY,
     CREATE ANY DIRECTORY,
     CREATE PROFILE,
     DROP PROFILE,
     ALTER PROFILE,
     CREATE SYNONYM,
      ALTER ANY ROLE,
     GRANT ANY ROLE,
     DROP ANY ROLE,
     CREATE ROLE,
     ALTER SYSTEM 
   
     
  ACTIONS
     CREATE AUDIT POLICY,
     ALTER AUDIT POLICY,
     DROP AUDIT POLICY,
     AUDIT,
     NOAUDIT,
     GRANT,
     ALTER SYNONYM,
     DROP DATABASE LINK,
     DROP SYNONYM,
     ALTER SYNONYM, 
     LOGOFF,
     LOGON 
;

AUDIT POLICY "ISSO_STIG_REQUIREMENTS_1" ;

NOAUDIT POLICY "ISSO_STIG_REQUIREMENTS_2";
DROP AUDIT POLICY "ISSO_STIG_REQUIREMENTS_2";

CREATE AUDIT POLICY "ISSO_STIG_REQUIREMENTS_2"
    ACTIONS
     EXECUTE
     WHEN 'SYS_CONTEXT(''USERENV'', ''ISDBA'') = ''TRUE'''
      
     EVALUATE PER SESSION
;

AUDIT POLICY "ISSO_STIG_REQUIREMENTS_2" ;