

Current Storage mapping and allocation on 4 node TEST cluster hrewoel02/03/10/18
---------------------------------------------------------------------------

File systems mounted:
----------------------
/dev/mapper/vg_hrewoel02-LogVol03.u01                       99G   64G   30G  68% /u01
/dev/emcpowera1                                             99G   76G   18G  81% /u02
/dev/mapper/export_vg-export_lv                            504G   77M  479G   1% /export
/dev/emcpowerai1                                           1.1T  824G  201G  81% /infshare


ASM raw devices
---------------
[root@hrewoel02 ~]# /home/grid/asm_disk_mapping.ksh
The ASM disk: 'ACFSDISK1' mapped to '/dev/emcpowerw1'  Totalsize=144.8 GB,
The ASM disk: 'DATA01' mapped to '/dev/emcpoweria1'  Totalsize=144.8 GB,
The ASM disk: 'DATA02' mapped to '/dev/emcpowerhz1'  Totalsize=144.8 GB,
The ASM disk: 'DATA03' mapped to '/dev/emcpowerhy1'  Totalsize=144.8 GB,
The ASM disk: 'DATA04' mapped to '/dev/emcpowerhx1'  Totalsize=144.8 GB,
The ASM disk: 'DATA05' mapped to '/dev/emcpowerhw1'  Totalsize=144.8 GB,
The ASM disk: 'DATA06' mapped to '/dev/emcpowerhv1'  Totalsize=144.8 GB,
The ASM disk: 'DATA07' mapped to '/dev/emcpowerhu1'  Totalsize=144.8 GB,
The ASM disk: 'DATA08' mapped to '/dev/emcpowerjf1'  Totalsize=144.8 GB,
The ASM disk: 'DATA09' mapped to '/dev/emcpowerlo1'  Totalsize=144.8 GB,
The ASM disk: 'DATA10' mapped to '/dev/emcpowerln1'  Totalsize=144.8 GB,
The ASM disk: 'DATA11' mapped to '/dev/emcpowerlm1'  Totalsize=144.8 GB,
The ASM disk: 'DATA12' mapped to '/dev/emcpowerlj1'  Totalsize=144.8 GB,
The ASM disk: 'DATA13' mapped to '/dev/emcpowerlk1'  Totalsize=144.8 GB,
The ASM disk: 'DATA14' mapped to '/dev/emcpowerll1'  Totalsize=144.8 GB,
The ASM disk: 'DATA15' mapped to '/dev/emcpowerli1'  Totalsize=144.8 GB,
The ASM disk: 'DATA16' mapped to '/dev/emcpowerlh1'  Totalsize=144.8 GB,
The ASM disk: 'DATA17' mapped to '/dev/emcpowerlg1'  Totalsize=144.8 GB,
The ASM disk: 'DATA18' mapped to '/dev/emcpowerlf1'  Totalsize=144.8 GB,
The ASM disk: 'DATA19' mapped to '/dev/emcpowerle1'  Totalsize=144.8 GB,
The ASM disk: 'DATA20' mapped to '/dev/emcpowerld1'  Totalsize=144.8 GB,
The ASM disk: 'DATA21' mapped to '/dev/emcpowerlc1'  Totalsize=144.8 GB,
The ASM disk: 'DATA22' mapped to '/dev/emcpowerlb1'  Totalsize=144.8 GB,
The ASM disk: 'DATA23' mapped to '/dev/emcpowerla1'  Totalsize=144.8 GB,
The ASM disk: 'DATA24' mapped to '/dev/emcpowerkz1'  Totalsize=144.8 GB,
The ASM disk: 'DATA25' mapped to '/dev/emcpowerky1'  Totalsize=144.8 GB,
The ASM disk: 'DATA26' mapped to '/dev/emcpowerkx1'  Totalsize=144.8 GB,
The ASM disk: 'DATA27' mapped to '/dev/emcpowerkw1'  Totalsize=144.8 GB,
The ASM disk: 'DATA28' mapped to '/dev/emcpowerkv1'  Totalsize=144.8 GB,
The ASM disk: 'DATA29' mapped to '/dev/emcpowerkt1'  Totalsize=144.8 GB,
The ASM disk: 'DATA30' mapped to '/dev/emcpowerku1'  Totalsize=144.8 GB,
The ASM disk: 'DATA31' mapped to '/dev/emcpowerks1'  Totalsize=144.8 GB,
The ASM disk: 'DATA32' mapped to '/dev/emcpowerkr1'  Totalsize=144.8 GB,
The ASM disk: 'DATA33' mapped to '/dev/emcpowerkq1'  Totalsize=144.8 GB,
The ASM disk: 'DATA34' mapped to '/dev/emcpowerkp1'  Totalsize=144.8 GB,
The ASM disk: 'DATA35' mapped to '/dev/emcpowerko1'  Totalsize=144.8 GB,
The ASM disk: 'DATA36' mapped to '/dev/emcpowerkn1'  Totalsize=144.8 GB,
The ASM disk: 'DATA37' mapped to '/dev/emcpowerkk1'  Totalsize=144.8 GB,
The ASM disk: 'DATA38' mapped to '/dev/emcpowerkm1'  Totalsize=144.8 GB,
The ASM disk: 'DATA39' mapped to '/dev/emcpowerkl1'  Totalsize=144.8 GB,
The ASM disk: 'DATA40' mapped to '/dev/emcpowerkj1'  Totalsize=144.8 GB,
The ASM disk: 'DATA41' mapped to '/dev/emcpowerki1'  Totalsize=144.8 GB,
The ASM disk: 'DATA42' mapped to '/dev/emcpowerkh1'  Totalsize=144.8 GB,
The ASM disk: 'DATA43' mapped to '/dev/emcpowerkg1'  Totalsize=144.8 GB,
The ASM disk: 'DATA44' mapped to '/dev/emcpowerkf1'  Totalsize=144.8 GB,
The ASM disk: 'DATA45' mapped to '/dev/emcpowerke1'  Totalsize=144.8 GB,
The ASM disk: 'DATA46' mapped to '/dev/emcpowerkd1'  Totalsize=144.8 GB,
The ASM disk: 'DATA47' mapped to '/dev/emcpowerkc1'  Totalsize=144.8 GB,
The ASM disk: 'DATA48' mapped to '/dev/emcpowerkb1'  Totalsize=144.8 GB,
The ASM disk: 'DATA49' mapped to '/dev/emcpowerhs1'  Totalsize=144.8 GB,
The ASM disk: 'DATA50' mapped to '/dev/emcpowerhr1'  Totalsize=144.8 GB,
The ASM disk: 'DATA51' mapped to '/dev/emcpowerhq1'  Totalsize=144.8 GB,
The ASM disk: 'DATA52' mapped to '/dev/emcpowerhp1'  Totalsize=144.8 GB,
The ASM disk: 'DATA53' mapped to '/dev/emcpoweric1'  Totalsize=144.8 GB,
The ASM disk: 'DATA54' mapped to '/dev/emcpowerib1'  Totalsize=144.8 GB,
The ASM disk: 'DATA55' mapped to '/dev/emcpowerig1'  Totalsize=144.8 GB,
The ASM disk: 'DATA56' mapped to '/dev/emcpowerif1'  Totalsize=144.8 GB,
The ASM disk: 'DATA57' mapped to '/dev/emcpowerie1'  Totalsize=144.8 GB,
The ASM disk: 'DATA58' mapped to '/dev/emcpowerid1'  Totalsize=144.8 GB,
The ASM disk: 'DATA59' mapped to '/dev/emcpowerii1'  Totalsize=144.8 GB,
The ASM disk: 'DATA60' mapped to '/dev/emcpowerih1'  Totalsize=144.8 GB,
The ASM disk: 'DATA61' mapped to '/dev/emcpowerik1'  Totalsize=144.8 GB,
The ASM disk: 'DATA62' mapped to '/dev/emcpowerij1'  Totalsize=144.8 GB,
The ASM disk: 'DATA63' mapped to '/dev/emcpowerir1'  Totalsize=144.8 GB,
The ASM disk: 'DATA64' mapped to '/dev/emcpoweriq1'  Totalsize=144.8 GB,
The ASM disk: 'DATA65' mapped to '/dev/emcpowerip1'  Totalsize=144.8 GB,
The ASM disk: 'DATA66' mapped to '/dev/emcpowerin1'  Totalsize=144.8 GB,
The ASM disk: 'DATA67' mapped to '/dev/emcpowerio1'  Totalsize=144.8 GB,
The ASM disk: 'DATA68' mapped to '/dev/emcpowerim1'  Totalsize=144.8 GB,
The ASM disk: 'DATA69' mapped to '/dev/emcpoweril1'  Totalsize=144.8 GB,
The ASM disk: 'DATA70' mapped to '/dev/emcpoweris1'  Totalsize=144.8 GB,
The ASM disk: 'DATA71' mapped to '/dev/emcpowerit1'  Totalsize=144.8 GB,
The ASM disk: 'DRSHARE1' mapped to '/dev/emcpowerhc1'  Totalsize=1649.3 GB,
The ASM disk: 'FRA01' mapped to '/dev/emcpowerho1'  Totalsize=144.8 GB,
The ASM disk: 'FRA02' mapped to '/dev/emcpowerhm1'  Totalsize=144.8 GB,
The ASM disk: 'FRA03' mapped to '/dev/emcpowerhn1'  Totalsize=144.8 GB,
The ASM disk: 'FRA04' mapped to '/dev/emcpowerhl1'  Totalsize=144.8 GB,
The ASM disk: 'FRA05' mapped to '/dev/emcpowerhk1'  Totalsize=144.8 GB,
The ASM disk: 'FRA06' mapped to '/dev/emcpowerhj1'  Totalsize=144.8 GB,
The ASM disk: 'FRA07' mapped to '/dev/emcpowerhi1'  Totalsize=144.8 GB,
The ASM disk: 'FRA08' mapped to '/dev/emcpowerhh1'  Totalsize=144.8 GB,
The ASM disk: 'FRA09' mapped to '/dev/emcpowerhg1'  Totalsize=144.8 GB,
The ASM disk: 'FRA10' mapped to '/dev/emcpowerhf1'  Totalsize=144.8 GB,
The ASM disk: 'FRA11' mapped to '/dev/emcpowerhe1'  Totalsize=144.8 GB,
The ASM disk: 'FRA12' mapped to '/dev/emcpowerka1'  Totalsize=144.8 GB,
The ASM disk: 'FRA13' mapped to '/dev/emcpowerjz1'  Totalsize=144.8 GB,
The ASM disk: 'FRA14' mapped to '/dev/emcpowerjy1'  Totalsize=128.0 GB,
The ASM disk: 'FRA15' mapped to '/dev/emcpowerjx1'  Totalsize=144.8 GB,
The ASM disk: 'FRA16' mapped to '/dev/emcpowerjv1'  Totalsize=144.8 GB,
The ASM disk: 'FRA17' mapped to '/dev/emcpowerjw1'  Totalsize=144.8 GB,
The ASM disk: 'FRA18' mapped to '/dev/emcpowerju1'  Totalsize=144.8 GB,
The ASM disk: 'FRA19' mapped to '/dev/emcpowerjt1'  Totalsize=144.8 GB,
The ASM disk: 'FRA20' mapped to '/dev/emcpowerjs1'  Totalsize=144.8 GB,
The ASM disk: 'FRA21' mapped to '/dev/emcpowerjr1'  Totalsize=144.8 GB,
The ASM disk: 'FRA22' mapped to '/dev/emcpowerjq1'  Totalsize=144.8 GB,
The ASM disk: 'FRA23' mapped to '/dev/emcpowerjp1'  Totalsize=144.8 GB,
The ASM disk: 'FRA24' mapped to '/dev/emcpowerjo1'  Totalsize=144.8 GB,
The ASM disk: 'FRA25' mapped to '/dev/emcpowerjn1'  Totalsize=144.8 GB,
The ASM disk: 'FRA26' mapped to '/dev/emcpowerjm1'  Totalsize=144.8 GB,
The ASM disk: 'FRA27' mapped to '/dev/emcpowerjl1'  Totalsize=144.8 GB,
The ASM disk: 'FRA28' mapped to '/dev/emcpowerjk1'  Totalsize=144.8 GB,
The ASM disk: 'FRA29' mapped to '/dev/emcpowerjj1'  Totalsize=144.8 GB,
The ASM disk: 'FRA30' mapped to '/dev/emcpowerji1'  Totalsize=144.8 GB,
The ASM disk: 'FRA31' mapped to '/dev/emcpowerjh1'  Totalsize=144.8 GB,
The ASM disk: 'FRA32' mapped to '/dev/emcpowerjg1'  Totalsize=144.8 GB,
The ASM disk: 'FRA33' mapped to '/dev/emcpowerht1'  Totalsize=144.8 GB,
The ASM disk: 'FRA34' mapped to '/dev/emcpowerje1'  Totalsize=144.8 GB,
The ASM disk: 'FRA35' mapped to '/dev/emcpowerjd1'  Totalsize=144.8 GB,
The ASM disk: 'FRA36' mapped to '/dev/emcpowerjc1'  Totalsize=144.8 GB,
The ASM disk: 'FRA37' mapped to '/dev/emcpowerjb1'  Totalsize=144.8 GB,
The ASM disk: 'FRA38' mapped to '/dev/emcpowerja1'  Totalsize=144.8 GB,
The ASM disk: 'FRA39' mapped to '/dev/emcpoweriz1'  Totalsize=144.8 GB,
The ASM disk: 'FRA40' mapped to '/dev/emcpoweriy1'  Totalsize=144.8 GB,
The ASM disk: 'FRA41' mapped to '/dev/emcpowerix1'  Totalsize=144.8 GB,
The ASM disk: 'FRA42' mapped to '/dev/emcpoweriw1'  Totalsize=144.8 GB,
The ASM disk: 'FRA43' mapped to '/dev/emcpoweriv1'  Totalsize=144.8 GB,
The ASM disk: 'FRA44' mapped to '/dev/emcpoweriu1'  Totalsize=144.8 GB,
The ASM disk: 'HFKCDATA01' mapped to '/dev/emcpoweraj1'  Totalsize=144.8 GB,
The ASM disk: 'HFKCDATA02' mapped to '/dev/emcpowerak1'  Totalsize=144.8 GB,
The ASM disk: 'HFKCDATA03' mapped to '/dev/emcpoweral1'  Totalsize=144.8 GB,
The ASM disk: 'HFKCDATA04' mapped to '/dev/emcpoweram1'  Totalsize=144.8 GB,
The ASM disk: 'HFKCDATA05' mapped to '/dev/emcpoweran1'  Totalsize=144.8 GB,
The ASM disk: 'HFKCDATA06' mapped to '/dev/emcpowerao1'  Totalsize=144.8 GB,
The ASM disk: 'HFKCDATA07' mapped to '/dev/emcpowerap1'  Totalsize=144.8 GB,
The ASM disk: 'HFKCFRA01' mapped to '/dev/emcpoweraq1'  Totalsize=144.8 GB,
The ASM disk: 'HFKCFRA02' mapped to '/dev/emcpowerar1'  Totalsize=144.8 GB,
The ASM disk: 'OCR_VOTE1' mapped to '/dev/emcpowerx1'  Totalsize=2146 MB,
The ASM disk: 'OCR_VOTE2' mapped to '/dev/emcpowery1'  Totalsize=2146 MB,
The ASM disk: 'OCR_VOTE3' mapped to '/dev/emcpowerz1'  Totalsize=2146 MB,
The ASM disk: 'OPS_DATA01' mapped to '/dev/emcpowerb1'  Totalsize=214.8 GB,
The ASM disk: 'OPS_DATA02' mapped to '/dev/emcpowerc1'  Totalsize=214.8 GB,
The ASM disk: 'OPS_DATA03' mapped to '/dev/emcpowerd1'  Totalsize=214.8 GB,
The ASM disk: 'OPS_DATA04' mapped to '/dev/emcpowere1'  Totalsize=214.8 GB,
The ASM disk: 'OPS_DATA05' mapped to '/dev/emcpowerf1'  Totalsize=214.8 GB,
The ASM disk: 'OPS_DATA06' mapped to '/dev/emcpowerg1'  Totalsize=214.8 GB,
The ASM disk: 'OPS_DATA07' mapped to '/dev/emcpowerh1'  Totalsize=214.8 GB,
The ASM disk: 'OPS_DATA08' mapped to '/dev/emcpoweri1'  Totalsize=214.8 GB,
The ASM disk: 'OPS_DATA09' mapped to '/dev/emcpowerj1'  Totalsize=214.8 GB,
The ASM disk: 'OPS_DATA10' mapped to '/dev/emcpowerk1'  Totalsize=214.8 GB,
The ASM disk: 'OPS_DATA11' mapped to '/dev/emcpowerl1'  Totalsize=214.8 GB,
The ASM disk: 'OPS_DATA12' mapped to '/dev/emcpowerm1'  Totalsize=214.8 GB,
The ASM disk: 'OPS_DATA13' mapped to '/dev/emcpowern1'  Totalsize=214.8 GB,
The ASM disk: 'OPS_DATA14' mapped to '/dev/emcpowero1'  Totalsize=214.8 GB,
The ASM disk: 'OPS_DATA15' mapped to '/dev/emcpowerv1'  Totalsize=214.8 GB,
The ASM disk: 'OPS_DATA16' mapped to '/dev/emcpoweru1'  Totalsize=214.8 GB,
The ASM disk: 'OPS_FRA01' mapped to '/dev/emcpowerp1'  Totalsize=214.8 GB,
The ASM disk: 'OPS_FRA02' mapped to '/dev/emcpowerq1'  Totalsize=214.8 GB,
The ASM disk: 'OPS_FRA03' mapped to '/dev/emcpowerr1'  Totalsize=214.8 GB,
The ASM disk: 'OPS_FRA04' mapped to '/dev/emcpowers1'  Totalsize=214.8 GB,
The ASM disk: 'OPS_FRA05' mapped to '/dev/emcpowert1'  Totalsize=214.8 GB,
The ASM disk: 'PRDDATA01' mapped to '/dev/emcpowergp1'  Totalsize=144.8 GB,
The ASM disk: 'PRDDATA02' mapped to '/dev/emcpowergk1'  Totalsize=144.8 GB,
The ASM disk: 'PRDDATA03' mapped to '/dev/emcpowerha1'  Totalsize=144.8 GB,
The ASM disk: 'PRDDATA04' mapped to '/dev/emcpowergo1'  Totalsize=144.8 GB,
The ASM disk: 'PRDDATA05' mapped to '/dev/emcpowergr1'  Totalsize=144.8 GB,
The ASM disk: 'PRDDATA06' mapped to '/dev/emcpowergg1'  Totalsize=144.8 GB,
The ASM disk: 'PRDDATA07' mapped to '/dev/emcpowergy1'  Totalsize=144.8 GB,
The ASM disk: 'PRDDATA08' mapped to '/dev/emcpowergf1'  Totalsize=144.8 GB,
The ASM disk: 'PRDDATA09' mapped to '/dev/emcpowergl1'  Totalsize=144.8 GB,
The ASM disk: 'PRDDATA10' mapped to '/dev/emcpowerat1'  Totalsize=144.8 GB,
The ASM disk: 'PRDFRA01' mapped to '/dev/emcpowergu1'  Totalsize=144.8 GB,
The ASM disk: 'PRDFRA02' mapped to '/dev/emcpowergq1'  Totalsize=144.8 GB,
The ASM disk: 'PRDFRA03' mapped to '/dev/emcpowerge1'  Totalsize=144.8 GB,
The ASM disk: 'PRDFRA04' mapped to '/dev/emcpowergi1'  Totalsize=144.8 GB,
The ASM disk: 'PRDFRA05' mapped to '/dev/emcpowerhb1'  Totalsize=144.8 GB,
The ASM disk: 'PRDFRA06' mapped to '/dev/emcpowergz1'  Totalsize=144.8 GB,
The ASM disk: 'PRDFRA07' mapped to '/dev/emcpowergm1'  Totalsize=144.8 GB,
The ASM disk: 'PRDFRA08' mapped to '/dev/emcpowergv1'  Totalsize=144.8 GB,
The ASM disk: 'PRDFRA09' mapped to '/dev/emcpowergn1'  Totalsize=144.8 GB,
The ASM disk: 'PRDFRA10' mapped to '/dev/emcpowergw1'  Totalsize=144.8 GB,
The ASM disk: 'PRDFRA11' mapped to '/dev/emcpowergs1'  Totalsize=144.8 GB,
The ASM disk: 'PRDFRA12' mapped to '/dev/emcpowergh1'  Totalsize=144.8 GB,
The ASM disk: 'PRDFRA13' mapped to '/dev/emcpowergt1'  Totalsize=144.8 GB,
The ASM disk: 'PRDFRA14' mapped to '/dev/emcpowergj1'  Totalsize=144.8 GB,
The ASM disk: 'PRDFRA15' mapped to '/dev/emcpowergx1'  Totalsize=144.8 GB,
The ASM disk: 'REFRDG' mapped to '/dev/emcpoweras1'  Totalsize=1649.3 GB,
[root@hrewoel02 ~]#




Current Storage mapping and allocation on 2 node CPY/TRN cluster hrewoel29/30
-----------------------------------------------------------------------------



Mounted File System
--------------------
                      
/dev/mapper/vg_hrewoel29-LogVol03.u01                       99G   38G   56G  41% /u01
/dev/emcpowerb1                                             99G   74G   21G  79% /u02
/dev/emcpowerbh1                                           1.1T  666G  359G  65% /infshare




ASM raw devices
---------------

[root@hrewoel29 ~]# /tmp/asm_disk_mapping.ksh
The ASM disk: 'CPY_DATA01' mapped to '/dev/emcpowerd1'  Totalsize=214.7 GB,
The ASM disk: 'CPY_DATA02' mapped to '/dev/emcpowere1'  Totalsize=214.7 GB,
The ASM disk: 'CPY_DATA03' mapped to '/dev/emcpowerf1'  Totalsize=214.7 GB,
The ASM disk: 'CPY_DATA04' mapped to '/dev/emcpowerg1'  Totalsize=214.7 GB,
The ASM disk: 'CPY_DATA05' mapped to '/dev/emcpowerh1'  Totalsize=214.7 GB,
The ASM disk: 'CPY_DATA06' mapped to '/dev/emcpoweri1'  Totalsize=214.7 GB,
The ASM disk: 'CPY_DATA07' mapped to '/dev/emcpowerj1'  Totalsize=214.7 GB,
The ASM disk: 'CPY_DATA08' mapped to '/dev/emcpowerk1'  Totalsize=214.7 GB,
The ASM disk: 'CPY_DATA09' mapped to '/dev/emcpowerl1'  Totalsize=214.7 GB,
The ASM disk: 'CPY_DATA10' mapped to '/dev/emcpowerm1'  Totalsize=214.7 GB,
The ASM disk: 'CPY_DATA11' mapped to '/dev/emcpowern1'  Totalsize=214.7 GB,
The ASM disk: 'CPY_DATA12' mapped to '/dev/emcpowero1'  Totalsize=214.7 GB,
The ASM disk: 'CPY_FRA01' mapped to '/dev/emcpowerp1'  Totalsize=214.7 GB,
The ASM disk: 'DRSHARE1' mapped to '/dev/emcpowerbf1'  Totalsize=1649.3 GB,
The ASM disk: 'OCR_VOTE' mapped to '/dev/emcpowerbh1'  Totalsize=1099.5 GB,
The ASM disk: 'OPSCPYDATA01' mapped to '/dev/emcpoweraj1'  Totalsize=214.8 GB,
The ASM disk: 'OPSCPYDATA02' mapped to '/dev/emcpowerak1'  Totalsize=214.8 GB,
The ASM disk: 'OPSCPYDATA03' mapped to '/dev/emcpoweral1'  Totalsize=214.8 GB,
The ASM disk: 'OPSCPYDATA04' mapped to '/dev/emcpoweram1'  Totalsize=214.8 GB,
The ASM disk: 'OPSCPYFRA01' mapped to '/dev/emcpowerap1'  Totalsize=107.4 GB,
The ASM disk: 'OPSCPYFRA02' mapped to '/dev/emcpoweraq1'  Totalsize=107.4 GB,
The ASM disk: 'OPSCPYFRA03' mapped to '/dev/emcpowerar1'  Totalsize=107.4 GB,
The ASM disk: 'OPSCPYFRA04' mapped to '/dev/emcpoweras1'  Totalsize=107.4 GB,
The ASM disk: 'OPSCPYFRA05' mapped to '/dev/emcpowerat1'  Totalsize=107.4 GB,
The ASM disk: 'OPSCPYFRA06' mapped to '/dev/emcpowerau1'  Totalsize=107.4 GB,
The ASM disk: 'OPSCPYFRA07' mapped to '/dev/emcpowerav1'  Totalsize=107.4 GB,
The ASM disk: 'OPSCPYFRA08' mapped to '/dev/emcpoweraw1'  Totalsize=107.4 GB,
The ASM disk: 'OPSCPYFRA09' mapped to '/dev/emcpowerax1'  Totalsize=107.4 GB,
The ASM disk: 'OPSCPYFRA10' mapped to '/dev/emcpoweray1'  Totalsize=107.4 GB,
The ASM disk: 'OPSCPYFRA11' mapped to '/dev/emcpoweraz1'  Totalsize=107.4 GB,
The ASM disk: 'OPSCPYFRA12' mapped to '/dev/emcpowerba1'  Totalsize=107.4 GB,
The ASM disk: 'REFRDG' mapped to '/dev/emcpowera'  Totalsize=1649.3 GB,
The ASM disk: 'TRN_DATA01' mapped to '/dev/emcpowers1'  Totalsize=214.8 GB,
The ASM disk: 'TRN_DATA02' mapped to '/dev/emcpowert1'  Totalsize=214.8 GB,
The ASM disk: 'TRN_DATA03' mapped to '/dev/emcpoweru1'  Totalsize=214.8 GB,
The ASM disk: 'TRN_DATA04' mapped to '/dev/emcpowerv1'  Totalsize=214.8 GB,
The ASM disk: 'TRN_DATA05' mapped to '/dev/emcpowerw1'  Totalsize=214.8 GB,
The ASM disk: 'TRN_DATA06' mapped to '/dev/emcpowerx1'  Totalsize=214.8 GB,
The ASM disk: 'TRN_DATA07' mapped to '/dev/emcpowery1'  Totalsize=214.8 GB,
The ASM disk: 'TRN_DATA08' mapped to '/dev/emcpowerz1'  Totalsize=214.8 GB,
The ASM disk: 'TRN_DATA09' mapped to '/dev/emcpoweraa1'  Totalsize=214.8 GB,
The ASM disk: 'TRN_DATA10' mapped to '/dev/emcpowerab1'  Totalsize=214.8 GB,
The ASM disk: 'TRN_DATA11' mapped to '/dev/emcpowerac1'  Totalsize=214.8 GB,
The ASM disk: 'TRN_DATA12' mapped to '/dev/emcpowerad1'  Totalsize=214.8 GB,
The ASM disk: 'TRN_DATA13' mapped to '/dev/emcpowerbc1'  Totalsize=214.8 GB,
The ASM disk: 'TRN_DATA14' mapped to '/dev/emcpowerbd1'  Totalsize=214.8 GB,
The ASM disk: 'TRN_DATA15' mapped to '/dev/emcpowerbg1'  Totalsize=214.7 GB,
The ASM disk: 'TRN_FRA01' mapped to '/dev/emcpowerae1'  Totalsize=214.8 GB,
The ASM disk: 'TRN_FRA02' mapped to '/dev/emcpoweraf1'  Totalsize=214.8 GB,
The ASM disk: 'TRN_FRA03' mapped to '/dev/emcpowerag1'  Totalsize=214.8 GB,
The ASM disk: 'TRN_FRA04' mapped to '/dev/emcpowerah1'  Totalsize=214.8 GB,
The ASM disk: 'TRN_FRA05' mapped to '/dev/emcpowerai1'  Totalsize=214.8 GB,
The ASM disk: 'TRN_FRA06' mapped to '/dev/emcpowerbe1'  Totalsize=214.8 GB,
The ASM disk: 'TRN_FRA07' mapped to '/dev/emcpowerbb1'  Totalsize=214.8 GB,
The ASM disk: 'TRN_FRA08' mapped to '/dev/emcpowerao1'  Totalsize=214.8 GB,
The ASM disk: 'TRN_FRA09' mapped to '/dev/emcpoweran1'  Totalsize=214.8 GB,
The ASM disk: 'TRN_FRA10' mapped to '/dev/emcpowerq1'  Totalsize=214.7 GB,
 
